block variables
include mixins/mixins

doctype html
html(lang="ru")
  include ./common/head
  body
    .wrapper
      include ./common/main-nav
      if title == "Blog page"
        include ./common/menu
      .maincontent
        include ./common/header
        block content
      include ./common/footer 
    
    include ./common/preloader

    include ./common/scripts