footer.footer
  +arrow("up")
  .footer__top
    nav.nav.footer__nav
      ul.nav__list
        each link, title in navigation
          li.nav__item
            a(href=`${link}`).nav__link= title 
      


    ul.socials
      each item in [{name:"vk", link:"https://vk.com/"}, {name:"github", link: "https://github.com/"}, {name:"in", link: "https://www.linkedin.com/"}]
        li.socials__item
          a(href=`${item.link}`).socials__link= item.name
            svg.socials__icon
              use(xlink:href=`/assets/img/sprite.svg#${item.name}`)

  .footer__bottom
    .footer__info
      p.
        “It is so shocking to find out how many people do not believe that they can learn, and how many more believe learning to be difficult.” ― Frank Herbert, Dune 
    .footer__copyright
      p.
        © Vorblex | created with love | 2017