.menu
  .menu__toggle
  ul.menu__list
    li.menu__item
      a(class="menu__link" href="#") Самое важное в SASS
    li.menu__item
      a(class="menu__link" href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
    li.menu__item
      a(class="menu__link" href="#") Самый необходимый набор Gulp плагинов
    li.menu__item
      a(class="menu__link" href="#") Почему я выбрал Pug
