extends ../template

block variables
  - var title = "About page"

block content
  section.section.about
    +triangle("triangle_color_gray", "triangle_color_beige")

    .about__left  
      .about__title-section
        +title("Обо мне", "about_header", "about__title")
      .user-about.about__user-about
        .user-about__pic(style=`background-image: url("/assets/img/user-about.jpg")`)
        .user-about__subtitle
          h2.subtitle Кто я
        .user-about__text
          p.
            Я веб разработчик из Киева. Мне 31 год. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
          p.
            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        

    .about__right
      .about-data
        .about-data__desc.about-user-info
          .about-user-info__title
            h2.subtitle Чем я могу быть вам полезен
          .about-user-info__text
            p.
              Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

        .about-data__content
        
          ul.skills
            each skillsItem in skills
              each skill, key in skillsItem
                li.skills__item
                  .skills-section
                    .skills-section__title= key
                    ul.skills-section__list
                      each obj in skill
                        each val, name in obj
                          li.skill
                            svg(class="circle" viewbox="0 0 110 110")
                              circle(r="45" cx="50%" cy="50%" class="circle__first")
                              circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" 
                                     stroke-dasharray=`${val}` class="circle__second")
                            .skill__text=name 
                       

  section.section.map
    .map__container#map
    .contacts.map__contacts
      .contacts__title
        .subtitle контакты
      ul.contacts__list
        li.contacts__item
          a(class="contacts__link" href="skype:vorblex")
            svg.contacts__icon
              use(xlink:href="assets/img/sprite.svg#skype")
            span.contacts__text vorblex  
        li.contacts__item
          a(class="contacts__link" href="mailto:vorblex@gmail.com")
            svg.contacts__icon
              use(xlink:href="assets/img/sprite.svg#envelope2")
            span.contacts__text vorblex@gmail.com  
        li.contacts__item
          a(class="contacts__link" href="tel:0930647501")
            svg.contacts__icon
              use(xlink:href="assets/img/sprite.svg#phone_n")
            span.contacts__text +38 093 064 75 01  
        li.contacts__item
          a(class="contacts__link" href="https://www.google.ru/maps/@50.5092848,30.4531397,18z" target="_blank")
            svg.contacts__icon
              use(xlink:href="assets/img/sprite.svg#map_marker")
            span.contacts__text г.Киев, ул. Макеевская  