extends ../template

block variables
  - var title = "Works page"

block content
  section.section.works
    +triangle("triangle_color_lightBeige") 

    .works__title-section
      +title("Мои работы", "works_header", "works__title")
      
    .works__slider
      .slider
        .slider__info
          .slider__info-inner
            .slider__title
              .subtitle Сайт школы онлайн образования
            .slider__desc HTML , CSS, JAVASCRIPT
            .slider__button
              a(href="#").btn.btn_rounded.btn_iconed Посмотреть сайт
                svg.btn__icon 
                  use(xlink:href=`assets/img/sprite.svg#link`)
        .slider__view
          img(class="slider__img" src="/assets/img/bg_slider.png", alt="slider image")
        .slider__controls
          button(type="button").slider__prev
            img(class="slider__button-img" src="/assets/img/btn-l.jpg", alt="slider thumb")
          button(type="button").slider__next
            img(class="slider__button-img" src="/assets/img/btn-r.jpg", alt="slider thumb")

  section.section.reviews
    .reviews__bg-wrap
      img(class="reviews__bg" src="/assets/img/bg_reviews.jpg" alt="background")
    .reviews__title-section
      +title("Что обо мне говорят", "about_header", "reviews__title")

    .reviews__content
      .reviews__section
        ul.reviews-list
          li.reviews-list__item
            .review
              svg.review__icon 
                use(xlink:href=`assets/img/sprite.svg#quotes`)
              .review__text
                p.
                  Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              .review__info
                .review__pic(style=`background-image: url("/assets/img/dima.jpg")`)
                .review__desc
                  span.review__person Ковальчук Дмитрий 
                  span.review__person-info основатель Loftschool
          
          li.reviews-list__item
            .review
              svg.review__icon 
                use(xlink:href=`assets/img/sprite.svg#quotes`)
              .review__text
                p.
                  Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              .review__info
                .review__pic(style=`background-image: url("/assets/img/zar.jpg")`)
                .review__desc
                  span.review__person Зар Захаров
                  span.review__person-info преподаватель


      .reviews__contacts
        .mail-form
          .mail-form__bg
          .mail-form__title
            .subtitle Связаться со мной
          form(class="mail-form__form" id="mailForm" method="post" action="#")
            .mail-form__fields
              label(class="input")
                input(class="input__field" type="text" name="name" placeholder="Имя")
              label(class="input")  
                input(class="input__field" type="email" name="email" placeholder="Email")
              textarea(placeholder="Введите ваше сообщение").textarea

            .buttons
              button(class="btn btn_transp btn_separated" type="submit") Отправить 
              button(class="btn btn_transp" type="reset") Очистить
            