.btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    flex: 1;
    box-shadow: none;
    cursor: pointer; 
    outline: none;
    border: none;
    background-color: $green;
    text-align: center;
    white-space: nowrap;
    @include roboto(medium);
    color: $white;
    font-size: 16px;
    padding: 13px 20px;
    transition: .3s;

    &:hover {
        background: $greenActive;
    }

    &_rounded {
        border-radius: 5px;
    }

    &_iconed {
        padding-left: 50px;
    }

    &_separated {
        border-right: 2px solid;
        border-right-color: rgba($white, .85);
    }

    &_color_white {
        border: 1px solid $white;
        background: none;
        color: $white;

        &:hover {
            background: $white;
            color: $green;
        }
    }

    &_hov_white {
        &:hover {
            background: rgba($white, .85); 
        }
    }

    &_transp {
        background-color: transparentize($green, .15);

        &:hover {
            background-color: transparentize($greenActive, .3); 
        }
    }
}

.btn__icon {
    position: absolute;
    left: 18px;
    @include centered(y);
    width: 20px;
    height: 20px;
    fill: $white;
}


