.down-arrow {
    position: absolute;
    z-index: 1;
    bottom: 70px;
    @include centered(x); 
}

.down-arrow__icon {
    width: 30px;
    height: 30px;
    fill: $white;
    opacity: .7;
    transition: .3s;

    &:hover {
        opacity: 1;
    }
}