.input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: $white;
    @include roboto;
    font-size: 16px;
    color: $black;
    padding: 10px 20px;
    margin-bottom: 20px;
}
