.mail-form {
    position: relative;
    max-width: 380px;
    padding-top: 30px;
}

.mail-form__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 45px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background: $white url('/assets/img/bg_reviews.jpg') no-repeat;
    background-position: center top;
    background-size: 2000px;
    filter: blur(5px);
}

.mail-form__title {
    text-align: center;
}

.mail-form__form {
    position: relative;
}

.mail-form__fields, .mail-form__buttons {
    position: relative;
}


.mail-form__fields {
    padding: 0 20px;
}

