.main-nav {
    position: absolute;
    z-index: 900;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        background: rgba($green, .87);
    }

    &::before {
        left: 0;  
    }

    &::after {
        right: 0;
    }
}

.main-nav__list {
    position: fixed;
    z-index: 10;
    top: 80px;
    @include centered(x);
    padding: 0 22px;
}

.main-nav__item {
    margin-bottom: 45px;
}

.main-nav__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 18px;
    @include berni;
    font-size: 63px; 
    color: $white;

    $margin: 100%;
    
        &::after, &:before {
            content: "";
            position: absolute;
            @include centered(y);
            width: 22px;
            height: 5px;
            background: rgba($white, .2);
        }
    
        &::after {
            left: $margin;
        }
        
        &::before {
            right: $margin;
        }
}