.main-nav {
    position: absolute;
    z-index: 900;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        background: rgba($green, .87);
        transition: .7s;
    }

    &::before {
        left: 0;  
    }

    &::after {
        right: 0;
    }

    &.active {
        visibility: visible;

        &::before, &::after {
            width: 50%; 
        }

        .main-nav__item {
            opacity: 1;
            transform: scale3d(1,1,1);
            transition: 0.3s cubic-bezier(.77,.6,.31,1.4) 0.7s;
        }
    }
}

.main-nav__list {
    position: fixed;
    z-index: 10;
    top: 80px;
    @include centered();
    padding: 0 22px;
    text-align: center;
}

.main-nav__item {
    margin-bottom: 45px;
    opacity: 0;
    position: relative;
    transform: scale3d(0,0,0);
    transition: none;
}

.main-nav__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 18px;
    @include berni;
    font-size: 63px; 
    color: $white;

    $margin: 100%;
    
        &::after, &:before {
            content: "";
            position: absolute;
            @include centered(y);
            width: 0;
            height: 5px;
            background: rgba($white, .2);
            transition: .2s;
        }
    
        &::after {
            left: $margin;
        }
        
        &::before {
            right: $margin;
        }

       &.active, &:hover {
            &::after, &:before {
                width: 22px;
            }
        }

        &.active {
            &::after, &:before {
                background: rgba($white, .8);
            }
        }
}