.menu {
    position: absolute;
    z-index: 400;
    top: $sectionHeight;
    right: 73%;
    width: 25.7%;
    padding-top: 72px;

    &.fixed {
        position: fixed;
        top: 0;
    }

    @include laptop {
        width: 29.7%;
        right: 69%;
    }

    @include tablet {
        position: fixed;
        background: $green;
        right: auto;
        top: 0;
        bottom: 0;
        width: 81%;
        transform: translateZ(0);
        transition: transform .5s;
        transform: translateX(-100%);
        padding-top: 0;

        &::before {
            content: "";
            position: absolute;
            background: $green;
            left: 0;
            right: 0;
            height: 50%;
            bottom: 100%;

        }
    }

    &.active {
        transform: translateX(0%);
    }

}

.menu__toggle {
    @include tablet {
        position: absolute;
        right: -11px;
        @include centered(y);
        width: 80px;
        height:80px;
        border-radius: 50%;
        background: $green;
    }
}

.menu__list {
    @include tablet {
        width: 95%;
        position: absolute;
        @include centered(y);
    }
}

.menu__item {
    text-align: right;
    margin-bottom: 10px;

    &.active {
        .menu__link {
            color: $green;

            &::after {
                opacity: 1;
            }
        } 
        
        @include tablet {
            .menu__link {
                color: $white;
                opacity: 1;
            }
        }
    }
}

.menu__link {
    position: relative;
    display: block;
    text-decoration: none;
    @include roboto;
    padding: 10px 40px 10px 20px; 
    font-size: 16px;
    color: $black;
    transition: opacity .3s, color .3s;

    &:hover {
        color: $green;

        &::after {
            opacity: .2;
        }
    }

    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        width: 3px;
        background: $green;
        opacity: 0;

        @include tablet {
            display: none;
        } 
    }
    

    @include tablet {
        color: $white;
        color: rgba(#fff, 0.7);
        padding: 10px 0px 10px 0px;

        &:hover {
            opacity: 1;
            color: $white;
        }
    }
}