.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__item {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }

    @include phone {
        margin-right: 15px;
    }
}

.nav__link {
    display: block;
    text-decoration: none;
    @include roboto(medium);
    font-size: 16px;
    color: $white;
    transition: .3s;

    &:hover {
        color: $green;
    }
}