.posts-list {
    width: 54.4%;
    max-width: 980px;
    padding-top: 60px;
    padding-bottom: 55px;
    margin-left: 16.22%;
    background: $white;

    @include laptop {
        margin-left: 20.22%;
    }

    @include tablet {
        width: 95%;
        margin: auto;
    }
}

.posts-list__item {
    position: relative;
    margin-bottom: 65px;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 69.4%;
        background: rgba($black, .07)

    }
}