.slider {
    background: $lightGray;
    height: $sectionHeight;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include tablet {
        height: auto;
        flex-wrap: nowrap;       
    }
}

.slider__info {
    text-align: center;
    display: flex;
    height: 100%;
    width: 50%;
    padding: 30px 10px;

    @include tablet {
        height: auto;
        width: auto;
    }
}

.slider__info-inner {
    max-width: 420px;
    margin: auto;
}

.slider__view {
    min-height: 250px;
    position: relative;
    overflow: hidden;
    flex-grow: 5;
    min-height: 300px;
    background: $sliderView;
    width: 50%;

    @include tablet {
        order: -1;
        width: auto;
    }
}

.slider__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.slider__desc {
    padding: 15px;
    @include roboto(medium);
    color: $green;
    font-size: 16px;
    border: solid rgba(#109c8e, .3);
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}

.slider__controls {
    min-height: 110px;
    flex-grow: 2.2;
    display: flex;
    background: $sliderControls;
    width: 50%;

    @include tablet {
        flex-grow: 3;
        width: auto;
    }
}

.slider__control {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    flex: 1; 
    box-shadow: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.slider__control_prev {
    .slider__control-item {
        top: -100%;
    }
}

.slider__control_next {
    .slider__control-item {
        top: 100%;
    }
}

.slider__control-list {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider__control-item {
    position: absolute;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    
    &.active {
        top: 0%;
    }
}

.slider__control-img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}
