.triangle {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 150px;
    fill: $white;

    &_color {

        &_gray {
            fill: $gray;            
        }

        &_beige {
            fill: $beige;

            @include tablet {
                fill: $gray;
            }
        }

        &_lightBeige {
            fill: $lightBeige;
        }
    }
}
