.user-about {
    flex: 1;
    max-width: 443px;
    min-width: 350px;
    margin-bottom: 30px;
    margin-right: 20px;

    @include laptop {
        max-width: 500px;
        flex: auto;
        margin-right: 0;
    }
}
 
.user-about__pic {
    height: 392px;
    margin-bottom: 30px;    
    background-position: center 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-about__subtitle {
    text-align: center;    
}

.user-about__text p {
    font-size: 16px;
    @include roboto;
    color: $blue;
}

