.welcome {
    display: flex;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;    

    @include tablet {
        background: #9ED1FA url("/assets/img/bg_header.jpg") center no-repeat;
        background-size: cover;
    }
}

.welcome__btn {
    position: absolute;
    top: 25px;
    right: 100px;

    &.hide {
        top: -60px;
    }

    @include tablet {
        @include centered(x);
    }
}