.works {
    position: relative;
    min-height: $sectionHeight;
}
 
.works__title-section {
    text-align: center;
    background-color: $lightBeige;
    
}

.works__slider {
    background: $sliderBackground;
}